body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, #00b8d4, #0052cc);
  color: white;
}

header {
  text-align: center;
  padding: 50px 0;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
}

section {
  margin: 50px 0;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

li {
  font-size: 1.5em;
}

footer {
  text-align: center;
  padding: 50px 0;
}
