body {
  font-family: "Tribal", sans-serif;
  background-color: #333;
  color: #fff;
}

a {
  color: #fff;
}

header {
  background-color: #666;
  padding: 20px;
}

h1 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #999;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

section {
  width: 30%;
  padding: 20px;
  background-color: #ccc;
}

footer {
  background-color: #666;
  padding: 20px;
  text-align: center;
}
